<html>
	<head> 
		<title>Lazy Txtr</title>
		<link rel= 'stylesheet' type='text/css' href="./style.css">
	</head>

	<body>
		<div class="bar">
			<a href="/"> <h2> Lazy Txtr </h2> </a>
		</div>
		<div class = "return_text">
			<%= result %>
		</div>
	</body>

</html>