<html>
	<head> 
		<title>Edit Group</title>
		<link rel= 'stylesheet' type='text/css' href="./style.css">
	</head>

	<body>
		<div class="bar">
			<a href="/"> <h2>Lazy Txtr</h2> </a>
		</div>
		<div class = "new">
			<h2 class = "new_circle">Edit Circle</h2>
			<h3> <%= result["circle_name"] %> </h3>
			<form action = '/' method = "POST"> 
				<input type="hidden" name="_method" value="PUT">
				<textarea rows="2" cols="34" class="message" type="text" name="message">
					<%=result["message"] %>
				</textarea><br>
				<input type="submit" class ="new-group" name="new_group">
			</form>
		</div>
	</body>

</html>